<title>Brandon Mikelaitis</title>
<div class="centerDiv container">

<div class="ui grid equal width">
        <div>
            <div class="column">
              <div class="row ">
                    <div id="rectangle">
                        <%= link_to about_me_path do %>
                          <div id="circle">
                          <div id="icon-centered">
                            <h2 class="ui header">
                              <div class=" increase-size">
                              <i class=" inverted user icon "></i> 
                              </div>
                          </div>
                          </div>
                              <div class="white">About Me</div>
                            </h2>
                          
                        <% end %>
                    </div>
              </div>
              
            
            <div class="row rect-space">       
      
                    <div id="rectangle">
                        <%= link_to skills_path do %>
                          <div id="circle">
                          <div id="icon-centered">
                            <h2 class="ui header">
                              <div class=" increase-size">
                              <i class=" inverted star icon"></i>
                              </div>
                          </div>
                          </div>
                              <div class="white">Skills</div>
                            </h2>
                          
                        <% end %>
                    </div>

            </div>
            
            <div class="row rect-space"> 

                    <div id="rectangle">
                        <%= link_to education_path do %>
                          <div id="circle">
                          <div id="icon-centered">  
                            <h2 class="ui header">
                              <div class=" increase-size">
                              <i class=" inverted university icon "></i> 
                              </div>
                          </div>
                          </div>
                              <div class="white">Education</div>
                            </h2>
                          
                        <% end %>
                    </div>    
            </div>
            </div>
        </div>
    
        <div>
            <div class="column">
                <h1 class=" white-title">Brandon Mikelaitis</h1>
                <div class="center-image">
                <img src="images/profile.jpg" alt="Profile Picture" width="250" height="360" class="image-border "/>
                </div>
            </div>
        </div>

        <div>
        
        <div>  
            <div class="column">
            <div class="row">    
            <div id="rectangle">
                <%= link_to experience_path do %>
                  <div id="circle">
                  <div id="icon-centered">
                    <h2 class="ui header">
                      <div class=" increase-size">
                      <i class=" inverted rocket icon"></i> 
                      </div>
                  </div>
                  </div>
                      <div class="white">Experience</div>
                    </h2>

                <% end %>
            </div>
            </div>
            
            <div class="row rect-space">       
            <div class="column"> 
            <div id="rectangle">
                <%= link_to portfolio_path do %>
                  <div id="circle">
                  <div id="icon-centered">
                    <h2 class="ui header">
                      <div class=" increase-size">
                      <i class=" inverted travel icon"></i> 
                      </div>
                  </div>
                  </div>
                      <div class=" white">Portfolio</div>
                    </h2>

                <% end %>
            </div>
            </div>
            </div>
            
            <div class="row rect-space">       
            <div class="column"> 
            <div id="rectangle">
                <%= link_to contact_path do %>
                  <div id="circle">
                  <div id="icon-centered">
                    <h2 class="ui header">
                      <div class=" increase-size">
                      <i class=" inverted mail outline icon"></i> 
                      </div>
                  </div>
                  </div>
                      <div class=" white">Contact Me</div>
                    </h2>
                  
                <% end %>
            </div>
            </div>
            </div>
        </div>  
        </div>
        </div>
</div>
</div>