<title>Welcome to Brandon's Website</title>
<div class="centerDiv container">

<div class="ui grid equal width">
        <div>
            <div class="column">
              <div class="row ">
                    <div id="rectangle">
                        <%= link_to about_me_path do %>
                          <div id="circle">
                          <div id="icon-centered">
                            <h2 class="ui header">
                              <div class="icon-right increase-size">
                              <i class="user icon "></i> 
                              </div>
                              <div class="sub header">About Me</div>
                            </h2>
                          </div>
                          </div>
                        <% end %>
                    </div>
              </div>
              
            
            <div class="row">       
      
                    <div id="rectangle">
                        <%= link_to skills_path do %>
                          <div id="circle">
                          <div id="icon-centered">
                            <h2 class="ui header">
                              <div class=" increase-size">
                              <i class="star icon"></i>
                              </div>
                              <div class="sub header">Skills</div>
                            </h2>
                          </div>
                          </div>
                        <% end %>
                    </div>

            </div>
            
            <div class="row"> 

                    <div id="rectangle">
                        <%= link_to education_path do %>
                          <div id="circle">
                          <div id="icon-centered">  
                            <h2 class="ui header">
                              <div class=" increase-size">
                              <i class="university icon "></i> 
                              </div>
                              <div class="sub header">Education</div>
                            </h2>
                          </div>
                          </div>
                        <% end %>
                    </div>    
            </div>
            </div>
        </div>
    
        <div>
            <div class="column">
                <h1 class="center-text">Brandon Mikelaitis</h1>
                <img src="images/profile.jpg" alt="Profile Picture" width="260" height="370" class="image-border"/>
            </div>
        </div>

        <div>
        
        <div>  
            <div class="column">
            <div class="row">    
            <div id="rectangle">
                <%= link_to experience_path do %>
                  <div id="circle">
                  <div id="icon-centered">
                    <h2 class="ui header">
                      <div class=" increase-size">
                      <i class="rocket icon"></i> 
                      </div>
                      <div class="sub header">Experience</div>
                    </h2>
                  </div>
                  </div>
                <% end %>
            </div>
            </div>
            
            <div class="row">       
            <div class="column"> 
            <div id="rectangle">
                <%= link_to portfolio_path do %>
                  <div id="circle">
                  <div id="icon-centered">
                    <h2 class="ui header">
                      <div class=" increase-size">
                      <i class="travel icon"></i> 
                      </div>
                      <div class="sub header">Portfolio</div>
                    </h2>
                  </div>
                  </div>
                <% end %>
            </div>
            </div>
            </div>
            
            <div class="row">       
            <div class="column"> 
            <div id="rectangle">
                <%= link_to contact_path do %>
                  <div id="circle">
                  <div id="icon-centered">
                    <h2 class="ui header">
                      <div class=" increase-size">
                      <i class="mail outline icon"></i> 
                      </div>
                      <div class="sub header">Contact Me</div>
                    </h2>
                  </div>
                  </div>
                <% end %>
            </div>
            </div>
            </div>
        </div>  
        </div>
        </div>
</div>
</div>
